<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="../static/mainapp/assets/css/style.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Saira&display=swap" rel="stylesheet">
    <title>Jobs Are Us</title>
</head>

<body>
    <header>
        <div class="row" id="myHeader">
            <div class="col-md-2 side-col"></div>

            <div class="col-md-1 headerLink" id="burger-menu">
                <a href="#">
                    <div class="linkText">More</div>
                </a>
            </div>

            <div class="col-md-1 headerLink" id="user-welcome">
                <a href="#" id="userBox" onclick="userBoxToggler()">
                    <div class="linkText">{{logged.username}}</div>
                </a>
                <div class="userCollapse">
                    {% if logged.company != '' %}
                    <a href="myjobs" alt="My Jobs">
                        <section>My Jobs</section>
                    </a>
                    {% else %}
                    <a href="#" alt="My Applications">
                        <section>My Apps</section>
                    </a>
                    {% endif %}
                </div>
                <div class="userCollapse"><a href="logoutUser" alt="Log-out"><span>Logout</span></a></div>
            </div>

            <div class="col-md-1 headerLink" id="messages">
                <a href="#">
                    <div class="linkText">Messages</div>
                </a>
            </div>

            <div class="col-md-1 headerLink" id="contacts">
                <a href="#">
                    <div class="linkText">Contacts</div>
                </a>
            </div>

            <div class="col-md-1 headerLink" id="wanted">
                <a href="#">
                    <div class="linkText">Wanted</div>
                </a>
            </div>

            <div class="col-md-1 side-col"> </div>

            <div class="col-md-2" id="logo">
                <a href="main"></a>
            </div>

            <div class="col-md-2 side-col"></div>

        </div>
    </header>

    <div class="row" id="myNav">
        <div class="col-md-2 side-col"></div>
        <div class="col-md-4 side-col"></div>
        <div class="col-md-1 navLink" id="my-board">
            <a href="#">
                <div class="linkText bottomText">My Board</div>
            </a>
        </div>
        <div class="col-md-1 navLink" id="notifications">
            <a href="#">
                <div class="linkText bottomText">Notifications</div>
            </a>
        </div>
        <div class="col-md-1 navLink" id="statics">
            <a href="#">
                <div class="linkText bottomText">Statics</div>
            </a>
        </div>
        <div class="col-md-1 navLink navSelected" id="search">
            <a href="#">
                <div class="linkText bottomText">Search</div>
            </a>
        </div>
        <div class="col-md-2 side-col"></div>
    </div>

    <main>
        <div class="row">
            <div class="col-md-2 side-col"></div>
            <div class="col-md-1"></div>
            <div class="col-md-6 backToSearchRow">
                <a href="myjobs" rel="Back" title="Back" class="backSearch">Back to my jobs</a>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2 side-col"></div>
        </div>
        <form action="confirmedit/{{jobdetails.id}}" method="POST" id="jobApplication">{% csrf_token %}

            <div class="row aboveForm">
                <div class="col-md-2 side-col"></div>
                <div class="col-md-1"></div>
                <div class="col-md-6 companyHeader">
                    <h1 class="companyName"
                        style="background-image: url('../../static/mainapp/assets/images/{{jobdetails.logo}}');">
                        {{jobdetails.company}}</h1>
                    <h2 class="companyRating">{{jobdetails.rank}}</h2>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2 side-col"></div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2 side-col"></div>
            </div>

            <div class="row formRow">
                <div class="col-md-2 side-col"></div>
                <div class="col-md-1"></div>
                <div class="col-md-6 formHeader border-bottom">
                    <h2>Tell your future employee about the position you're offering</h2>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2 side-col"></div>
            </div>


            <div class="row formRow">
                <div class="col-md-2 side-col"></div>
                <div class="col-md-1"></div>
                <div class="col-md-6 border-bottom">
                    <label class="applyLabel">
                        What is the job title?
                        <br><br>
                        <input type="text" name="jobTitle" value="{{jobdetails.title}}" class="textBoxes" placeholder="Job title" required>
                    </label>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2 side-col"></div>
            </div>

            <div class="row formRow">
                <div class="col-md-2 side-col"></div>
                <div class="col-md-1"></div>
                <div class="col-md-6 border-bottom">
                    <section class="checkboxContainer" required>
                        What is the job type?
                        <br>
                        <br><label><input name="jobType" type="radio" class="checkboxes" value="fullTime" checked>&nbsp
                            Full time job</label>
                        <br><label><input name="jobType" type="radio" class="checkboxes" value="partTime">&nbsp Part
                            time job</label>
                        <br><label><input name="jobType" type="radio" class="checkboxes" value="intern">&nbsp
                            Intern</label>
                        <br><label><input name="jobType" type="radio" class="checkboxes" value="studentPosition">&nbsp
                            Student position</label>
                    </section>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2 side-col"></div>
            </div>

            <div class="row formRow">
                <div class="col-md-2 side-col"></div>
                <div class="col-md-1"></div>
                <div class="col-md-6 border-bottom">
                    <section class="checkboxContainer">
                        What is the expected salary?
                        <br>
                        <br><label><input name="salaryOption" type="radio" class="checkboxes" value="aboveAvg"
                                checked>&nbsp Above average</label>
                        <br><label><input name="salaryOption" type="radio" class="checkboxes" value="belowAvg">&nbsp
                            Below average</label>
                        <br><label><input name="salaryOption" type="radio" class="checkboxes" value="studentSal">&nbsp
                            Student salary</label>
                        <br><label><input name="salaryOption" type="radio" class="checkboxes" value="negotiable">&nbsp
                            Negotiable</label>
                    </section>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2 side-col"></div>
            </div>

            <div class="row formRow">
                <div class="col-md-2 side-col"></div>
                <div class="col-md-1"></div>
                <div class="col-md-6 border-bottom">
                    <label class="applyLabel">
                        What is the job description?
                        <br>
                        <textarea name="jobDescription" rows="5" cols="50" placeholder="Free text..."
                            required>{{jobdetails.jobDescription}}</textarea>
                    </label>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2 side-col"></div>
            </div>

            <div class="row formRow">
                <div class="col-md-2 side-col"></div>
                <div class="col-md-1"></div>
                <div class="col-md-6 border-bottom">
                    <section class="checkboxContainer">
                        Must meet conditions for you!
                        <br>
                        <br><input name="mustMeet1" value="{{jobdetails.mustmeet1}}" type="text" class="textBoxes" value="" placeholder="Type here"
                            required><br>
                        <br><input name="mustMeet2" value="{{jobdetails.mustmeet2}}" type="text" class="textBoxes" value="" placeholder="Type here"
                            required><br>
                        <br><input name="mustMeet3" value="{{jobdetails.mustmeet3}}" type="text" class="textBoxes" value="" placeholder="Type here"
                            required><br>
                        <br><input name="mustMeet4" value="{{jobdetails.mustmeet4}}" type="text" class="textBoxes" value="" placeholder="Type here"><br>
                        <br><input name="mustMeet5" value="{{jobdetails.mustmeet5}}" type="text" class="textBoxes" value="" placeholder="Type here"><br>
                        <br><input name="mustMeet6" value="{{jobdetails.mustmeet6}}" type="text" class="textBoxes" value=""
                            placeholder="Type here"><br><br>
                    </section>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2 side-col"></div>
            </div>


            <div class="row formRow">
                <div class="col-md-2 side-col"></div>
                <div class="col-md-1"></div>
                <div class="col-md-6 border-bottom submitApplication">
                    <p>Please notice that the job description is a very important field for our system.
                    </p>
                    <input class="applyBtn" type="submit" value="Submit">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2 side-col"></div>
            </div>

        </form>
    </main>

    <script rel="stylesheet" src="../static/mainapp/assets/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>